@import "tailwindcss";

@theme {
  --color-accent: #ccff00;
  --color-darkBg: #0b0c10;
  --color-cardBg: #12141a;

  --font-oswald: var(--font-oswald), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-darkBg);
  color: #f3f4f6;
  font-family: var(--font-sans);
}
